# Titanic Passengers
Author: [Jake Rood](https://github.com/jakerood)
Date: 09-19-2023

## 1 - Load

In [1]:
# Use Pandas to load the Titanic Disaster dataset into a DataFrame using read_csv
import pandas as pd
titanic = pd.read_csv('https://vincentarelbundock.github.io/'
                'Rdatasets/csv/carData/TitanicSurvival.csv')

## 2 - View

In [3]:
# Set the precision to 2 decimal places and view both the head and tail of the file
pd.set_option('display.precision', 2)

In [4]:
titanic.head()

                          rownames survived     sex    age passengerClass
0    Allen, Miss. Elisabeth Walton      yes  female  29.00            1st
1   Allison, Master. Hudson Trevor      yes    male   0.92            1st
2     Allison, Miss. Helen Loraine       no  female   2.00            1st
3  Allison, Mr. Hudson Joshua Crei       no    male  30.00            1st
4  Allison, Mrs. Hudson J C (Bessi       no  female  25.00            1st

In [5]:
titanic.tail()

                       rownames survived     sex   age passengerClass
1304       Zabour, Miss. Hileni       no  female  14.5            3rd
1305      Zabour, Miss. Thamine       no  female   NaN            3rd
1306  Zakarian, Mr. Mapriededer       no    male  26.5            3rd
1307        Zakarian, Mr. Ortin       no    male  27.0            3rd
1308         Zimmerman, Mr. Leo       no    male  29.0            3rd

## 3 - Headings

In [ ]:
# Let's customize the column headings
titanic.columns = ['name', 'survived', 'sex', 'age', 'class']

# Now view the head of the file

## 4 - Describe

## 5 - Survivors

## 6 - Histogram